<li class="notificationList">
    <a class="notificationRoundImg" href="#users/<%- notification.attributes.userId %>">
        <img class="notificationCenterImg" src="#users/<%- notification.attributes.userId %>/pictures/<%-notification.attributes.picture %>">
    </a>
    <div class="notificationList2">
        <a class="notificationBold notificationBlack" href="#users/<%- notification.attributes.userId %>"><%- notification.attributes.userId %></a> <%- notification.attributes.type %>
        <time class="notificationBlackTime notificationSizeTime"><%- notification.attributes.date %></time>
    </div>
    <a href="">
        <img class="notificationSizeImg" src="">
    </a>
</li>