<div class="whiteBackground marginContentFeed borderFeed topFeed">
	<div class="topAlignFeed">
		<a class="userImageFeed userAlignFeed logoSize" href=""><img class="logoUserFeed" src="/img/test2.jpg"></a>
		<div class="userNameFeed">
			<a class="heightTextFeed widthTextFeed" href=""><%- post.userId %></a>
		</div>
		<div class="hourFeed" href="">
			<time><%- post.postedDate %></time>
		</div>
	</div>
	<div class="imageFeed">
		<% if(!isSingleFeed){ %><a><% } %>
			<div class="imagePaddingFeed">
				<img class="sizeImageFeed" src="<%- post.imageUrl %>" />
			</div>
		<% if(!isSingleFeed){ %></a><% } %>
	</div>
	<div class="textContentFeed" id="countLikeText<%- post.id %>">
		<div class="paddingLikeFeed" id="countLikeTextSpan<%- post.id %>">
			<% if (post.likes.length <= 1) { %>
				<span class="likeTextFeed blackTextFeed"><%-post.likes.length %> like</span>
			<% } else { %>
				<span class="likeTextFeed blackTextFeed"><%-post.likes.length %> likes</span>
			<% } %>
		</div>
		<div class="paddingLikeFeed">
			<ul>	
				<li class="texDescriptionFeed">
					<a class="heightTextFeed blackTextFeed" href="/#users/<%- post.userId %>"><%- post.userId %></a>
					<% if(post.description){ %>
						<span id="descriptionEditable" ><%- post.description %></span>
					<% } %>
				</li>
				<br>
                <% for (var i = 0; i < post.comments.length; i++) { %>
				<li class="textCommentFeed">
 					<a class="heightTextFeed blackTextFeed" href="/#users/<%- post.userId %>"><%-post.comments[i].user %></a>
 					<span><%-post.comments[i].comment %></span>
 				</li>
                <% } %>
			</ul>
		</div>
		<div class="addCommentFeed commentPaddingFeed" >
			<% if(userLiked) { %>
				<a id="eggplantA" class="likeButtonFeed likePaddingFeed" data-id="<%- post.id %>"><span id="eggplanticonspan" data-id="<%- post.id %>" class="likeTextFeed2 eggPlantIcon2">Like</span></a>
			<% } else { %>
				<a id="eggplantA" class="likeButtonFeed likePaddingFeed" data-id="<%- post.id %>"><span id="eggplanticonspan" data-id="<%- post.id %>" class="likeTextFeed2 eggPlantIcon">Like</span></a>
			<% } %>			
			<form class="flexCommentFeed"><input type="text" class="inputCommentFeed inputTextFeed" data-id="<%- post.id %>" placeholder="Add Comment..." value=""></form>
			<% if(post.editable){ %>
				<button id="optionButtonEdit" class="optionPostFeed optionIcon likeTextFeed2">More Options</button>
			<% } %>
		</div>
	</div>
</div>

<div class="popupContent">
   <div id="popupEditContent" class="divPopupContent">
    <div class="heightPopup">
        <div class="height2Popup">
            <ul>
                <li class="lineQuitPopup"><button id="editButtonPopup" class="buttonQuitPopup">Edit</button></li>
				<li class="lineQuitPopup" id="editInput" data-id="<%-post.id %>"><textarea id="description"><%- post.description %></textarea></li>
                <li class="lineQuitPopup" id="buttonSave"><button class="styleButtonProfile colorButtonProfile sizeButtonProfile" id="saveButtonPopup">Save</button></li>
                <li class="lineQuitPopup"><button id="deleteButtonPopup" class="buttonQuitPopup">Delete</button></li>
            </ul>
        </div>
    </div>
    <button id="closeExitButtonPopup" class="closeButtonPopup">Fermer</button>
   </div>
</div>