<a class="heightZoneSearch hoverColor" href="?#users/<%- picture.userId %>/pictures/<%-picture.id %>">
    <div class="columnZoneSearch">
        <img class="imgZoneSearch" src="<%- picture.imageUrl %>">
        <div class="nameZoneSearch"><span class="textZoneSearch"><%- picture.userId %></span></div>
        <div class="smallTextZoneSearch"><%- picture.description %></div>
    </div>
</a>