<main>
    <article class="contentProfile paddingProfile">
        <header class=" headerProfile">
            <div class="logoPaddingProfile">
                <div class="logoProfile">
                    <button><img class="stlyeLogoProfile" src="<%- user.profilePictureUrl %>"></button>
                </div>
            </div>
            <div class="paddingNameProfile">
                <div class="borderLogoProfile">
                    <h1 class="textNameProfile"><%- user.userName %></h1><br>
                </div>
                <div class="paddingBioProfile">
                    <h2 class="boldTextProfile"><%- user.firstName %> <%- user.lastName %></h2><br>
                    <span>Inscription date: <%- user.inscriptionDate %></span>
                </div>
                <br>
            </div>
        </header>
        <br />
        <ul class="statsProfile statsSizeProfile">
            <li class="paddingStatsProfile"><span class="fontStatsProfile blockStatsProfile">{number}</span>Posts</li>
            <li class="paddingStatsProfile"><span class="fontStatsProfile blockStatsProfile">{number}</span>Followers</li>
            <li class="paddingStatsProfile"><span class="fontStatsProfile blockStatsProfile">{number}</span>Following</li>
        </ul>
        <div>
            <div id="profile-pictures-list" class="imgProfile">

            </div>
            <div id="show-more-container" />
        </div>
    </article>
</main>
