



<h1>User Profile</h1>

<div class="userProfile-info-container">
    <div class="userProfile-profile-picture">

    </div>
    <div class="userProfile-infos">
        <form>
            User Name: <input class="user-info-input" id="user-info-input-userName" type="text" name="fname" value="<%-  userProfile.userName %>" readonly><br>
            First Name: <input class="user-info-input" id="user-info-input-firstName" type="text" name="fname" value="<%- userProfile.firstName %>" readonly><br>
            Last Name: <input class="user-info-input" id="user-info-input-lastName" type="text" name="fname" value="<%- userProfile.lastName %>" readonly><br>
            Email: <input class="user-info-input" id="user-info-input-email" type="text" name="fname" value="<%- userProfile.email %>" readonly><br>
            Phone Number: <input class="user-info-input" id="user-info-input-phoneNumber" type="text" name="fname" value="<%- userProfile.phoneNumber %>" readonly><br>
            Inscription Date: <input class="user-info-input" id="user-info-input-registrationDate" type="text" name="fname" value="<%- userProfile.inscriptionDate %>" readonly><br>
            <button id="edit-user-profil">Edit</button>
            <button id="save-user-profil">Save</button>
        </form>
    </div>
</div>
