



<h1>User Profile</h1>

<div class="userProfile-info-container">
    <div class="userProfile-profile-picture">

    </div>
    <div class="userProfile-infos">
        <% console.log(userProfile); %>
        User Name: <%-  userProfile.id %><br>
        First Name: <%- userProfile.firstName %><br>
        Last Name: <%- userProfile.lastName %><br>
        Email Name: <%- userProfile.email %><br>
        Phone Number: <%- userProfile.phoneNumber %><br>
        Inscription Date: <%- userProfile.inscriptionDate %><br>
    </div>
</div>
