<main>
    <header class=" headerProfile">
        <div class="logoPaddingProfile">
            <div class="logoProfile">
                <a href="/#users/<%- id %>"><img class="stlyeLogoProfile" src="<%- pictureUrl %>"></a>
            </div>
        </div>
        <div class="paddingNameProfile">
            <div class="borderLogoProfile">
                <a href="/#users/<%- id %>"><h1 class="textNameProfile"><%- id %></h1></a>
            </div>
            <div class="paddingBioProfile">
                <h2 class="boldTextProfile"><%- firstName %> <%- lastName %></h2>
                <span><%- email %></span>
            </div>
        </div>
    </header>
</main>